h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.h1 {
  font-size: 52px;
  line-height: 123%;
  @media (max-width: 991px) {
    font-size: 32px;
    line-height: 125%;
  }
  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 133%;
  }
}
.h2 {
  font-size: 40px;
  line-height: 140%;
  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 133%;
  }
}
.h3 {
  font-size: 32px;
  line-height: 125%;
  @media (max-width: 991px) {
    font-size: 20px;
  }
}
.h4 {
  font-size: 24px;
  line-height: 133%;
}

.h5 {
  font-size: 20px;
  line-height: 120%;
}
.h6 {
  font-size: 16px;
  line-height: 150%;
}
